<footer class="page-footer">
  <div class="container footer-container">
    <div class="footer-main-container">
      <div class="footer-text-container">
        <div class="footer-logo-link">
          <a href="./index.html" class="footer-logo">
            <svg class="footer-logo-icon" width="16" height="16">
              <use href="../img/icons.svg#icon-logo-min"></use>
            </svg>
          </a>
          <a href="./index.html" class="footer-logo-text">
            <svg class="footer-logo-text" width="146" height="12">
              <use href="../img/icons.svg#icon-greenharvest-min"></use>
            </svg>
          </a>
        </div>
        <p class="footer-text-main">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-container">
        <nav class="footer-nav">
          <ul class="footer-nav-list">
            <li class="footer-nav-item">
              <a class="nav-item-link" href="">how it works</a>
            </li>
            <li class="footer-nav-item">
              <a class="nav-item-link" href="">vegetables</a>
            </li>
            <li class="footer-nav-item">
              <a class="nav-item-link" href="">reviews</a>
            </li>
          </ul>
        </nav>
        <address class="footer-address">
          <a class="footer-address-link" href="+380684439426"
            >+380 (68) 443-94-26
          </a>
          <p class="footer-address-text">
            1678 S. Pioneer Road Salt <br />
            Lake City UT 84104 <br />
          </p>
        </address>
      </div>
    </div>
    <div class="footer-policy-container">
      <p class="footer-policy-text">Privacy Policy / Cookie settings</p>
      <p class="footer-policy-text">&copy;Green Harvest 2023</p>
    </div>
  </div>
</footer>
