<header class="header-list">
    <div class="container header-container">
    
      <nav class="page-nav">
        <a href="./index.html" class="logo">
          <svg class="logo-icon" width="16" height="16">
            <use href="../img/icons.svg#icon-logo-min"></use>
          </svg>
        </a>
        <a href="./index.html" class="logo-text">
          <img class="logo-icon-text"  src="../img/logo.svg" alt="logo">
        </a>
     
        <ul class="header-menu">
          <li class="header-menu-list">
              <a href="./css/styles.css/how_it_works.css" class="header-menu-item">How It Works</a>
          </li>
          <li class="header-menu-list">
              <a href="./css/styles.css/vegetables.css" class="header-menu-item">Vegetables</a>
  
          </li>
          <li class="header-menu-list">
              <a href="./css/styles.css/reviews.css" class="header-menu-item">Reviews</a>
  
          </li>
        </ul>
        <button type="button" class="header-btn">Shop now</button>
  
      </nav>
      <button type="button" class="mobile-menu-open">
          <svg class="mobile-menu-icon" width="22" height="16">
            <use href="../img/icons.svg#icon-menu-header-min"></use>
          </svg>
        </button>
      </div>

      <div class="backdrop">

      <div class="mobile-menu">
        <div>
          <button type="button" class="mobile-menu-close">
            <svg class="mobile-menu-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-x-max"></use>
            </svg>
          </button>
      </div>
      <nav>
        <ul class="mobile-menu-nav">
          <li class="mobile-menu-list">
              <a href="" class="mobile-menu-item">How It Works</a>
          </li>
          <li class="mobile-menu-list">
              <a href="" class="mobile-menu-item">Vegetables</a>
    
          </li>
          <li class="mobile-menu-list">
              <a href="" class="mobile-menu-item">Reviews</a>
    
          </li>
        </ul>
       
      </nav>
     <div class="mobile-menu-button">
      <button type="button" class="mobile-menu-btn">Shop now</button>
     </div>
     </div>
     </div>
    </header>




