<header class="header-list">
  <div class="container header-container">
  
    <nav class="page-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="16" height="16">
          <use href="./css/images/icons.svg#icon-logo-1"></use>
        </svg>
      </a>
      <a href="./index.html" class="logo-text">
        <img class="logo-icon"  src="./images/logo.svg" alt="logo">
      </a>
   
      <ul class="header-menu">
        <li class="header-menu-list">
            <a href="" class="header-menu-item">How It Works</a>
        </li>
        <li class="header-menu-list">
            <a href="" class="header-menu-item">Vegetables</a>

        </li>
        <li class="header-menu-list">
            <a href="" class="header-menu-item">Reviews</a>

        </li>
      </ul>
      <button type="button" class="header-btn">Shop now</button>

    </nav>
    <button type="button" class="mobile-menu-open">
        <svg class="mobile-menu-icon" width="26" height="20">
          <use href="./css/images/icons.svg#icon-menu-header"></use>
        </svg>
      </button>
    </div>
  </header>