<section class="hero">
  <div class="container hero-container">
    <div class="hero-left">
      <h1 class="h-hero">ORGANIC VEGETABLES TO YOUR DIET TODAY!</h1>
      <p class="paragraph-hero">
        Our expertly curated vegetable baskets are made with the freshest, highest
        quality vegetables available. Fresh Harvest Box has got you covered.
        Fresh, high-quality vegetables in expertly curated vegetable baskets
        delivered to you.
      </p>
    </div>
    <div class="img-container"></div>
  </div>
</section>