@ -1,5 +1,37 @@
<section class="how-works">
  <div class="container">
    <div class="section1">
      <img class="img" src="./img/how_it_works/mob_woman.jpg" alt="" />
    </div>
    <div class="section2">
      <h3 class="title">
        To order your <span class="title-span-text">vegetable</span> basket,
        simply follow these <span class="title-span-text">easy steps</span>
      </h3>
      <p class="item">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <div class="content-box">
        <span class="text">
          <span class="nomber-text">1</span>
          Just choose the vegetable you want to order by clicking on the
          checkboxes next to it.
        </span>
      </div>
      <div class="content-box">
        <span class="text">
          <span class="nomber-text">2</span>Click on the basket and fill out the
          form.</span
        >
      </div>
      <div class="content-box">
        <span class="text">
          <span class="nomber-text">3</span>
          Sit back and relax! Your fresh vegetables basket will be delivered.
        </span>
      </div>
    </div>
  </div>
</section>
