<section id="how_it_works" class="how-it-works" >
  <div class="container-works">
    <div class="section-img">
      <img class="works-img" src="./img/how_it_works/mob_woman.jpg" alt="" />
    </div>
    <div class="section-info">
      <h3 class="header-title">
        To order your <span class="title-span-text">vegetable</span> basket,
        simply follow these <span class="title-span-text">easy steps</span>
      </h3>
      <p class="header-text">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ul class="content-items">
        <li class="content-item">
          <p class="number">1</p>
          <p class="text-span">
            Just choose <span class="text-style">the vegetable</span> you want
            to order by clicking on the checkboxes
            <span class="text-style">next to it.</span>
          </p>
        </li>
        <li class="content-item">
          <p class="number">2</p>
          <p class="text-span">Click on <span class="text-style">the basket</span> and fill out the
          form.</span
        ></p>
        </li>
        <li class="content-item">
          <p class="number">3</p>
          <p class="text-span">
          Sit back and relax! Your <span class="text-style">fresh vegetables</span> basket will be delivered.
        </span></p>
        </li>
      </ul>
    </div>
  </div>
</section>
