<section class="reviews" id="reviews">
  <div class="container">
    <div class="reviews-title-text">
      <h2 class="reviews-title">
        REVIEWS FROM OUR <span class="colortext">CUSTOMERS</span>
      </h2>
      <p class="reviews-text">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products
      </p>
    </div>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-picture"
          srcset="
            ./img/reviews/john_wax.png   1x,
            ./img/reviews/john_wax2x.png 2x
          "
          src="./img/reviews/john_wax.png"
          alt="JW"
        />
        <div class="container-title-text-person">
          <h3 class="title">John Wax</h3>
          <p class="title-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>

      <li class="reviews-item">
        <img
          class="reviews-picture"
          srcset="
            ./img/reviews/victoria_romashenko.png   1x,
            ./img/reviews/victoria_romashenko2x.png 2x
          "
          src="./img/reviews/victoria_romashenko.png"
          alt="VR"
        />
        <div class="container-title-text-person">
          <h3 class="title">Victoria Romashenko</h3>
          <p class="title-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-picture"
          srcset="
            ./img/reviews/ihor_tkachuk.png   1x,
            ./img/reviews/ihor_tkachuk2x.png 2x
          "
          src="./img/reviews/ihor_tkachuk.png"
          alt="IT"
        />
        <div class="container-title-text-person">
          <h3 class="title">Ihor Trachuk</h3>
          <p class="title-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
