<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      REVIEWS FROM OUR <span class="colortext">CUSTOMERS</span>
    </h2>
    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products
    </p>
    <ul class="reviews-ul">
      <div class="reviews-one">
        <li class="reviews-li">
          <img
            class="reviews-picture"
            srcset="
              ../img/reviews/john_wax.jpg   1x,
              ../img/reviews/john_wax2x.jpg 2x
            "
            src="../img/reviews/john_wax.jpg"
            alt="JW"
            width="56"
            height="56"
          />
          <h3 class="title">John Wax</h3>
          <p class="title-text">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
      </div>
      <div class="reviews-one">
        <li class="reviews-li-tab">
          <img
            class="reviews-picture"
            srcset="
              ../img/reviews/victoria_romashenko.jpg   1x,
              ../img/reviews/victoria_romashenko2x.jpg 2x
            "
            src="../img/reviews/victoria_romashenko.jpg"
            alt="VR"
            width="56"
            height="56"
          />
          <h3 class="title">Victoria Romashenko</h3>
          <p class="title-text">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
      </div>
      <div class="reviews-one">
        <li class="reviews-li-deck">
          <img
            class="reviews-picture"
            srcset="
              ../img/reviews/ihor_tkachuk.jpg   1x,
              ../img/reviews/ihor_tkachuk2x.jpg 2x
            "
            src="../img/reviews/ihor_tkachuk.jpg"
            alt="IT"
            width="56"
            height="56"
          />
          <h3 class="title">Ihor Trachuk</h3>
          <p class="title-text">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
