<section class="vegetables">
  <div class="container">
    <h2 class="vegetable-title">organic <span class="title-part">vegetables</span></h2>
    <p class="vegetable-description">Our organic vegetables are hand-picked from local farms and delivered straight to
      your doorstep, ensuring that
      you get
      the freshest and most nutritious produce possible.</p>
    <ul class="vegetable-basket">
      <li>
        <h3 class="vegetable-name">eggplant</h3>
        <p class="vegetable-price">60 UAH / kg</p>

      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</section>