<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 class="vegetable-title">organic <span class="title-part">vegetables</span></h2>
    <p class="vegetable-description">Our organic vegetables are hand-picked from local farms and delivered straight to
      your doorstep, ensuring that
      you get
      the freshest and most nutritious produce possible.</p>
    <ul class="vegetable-cards-list">
      <li class="vegetable-item">
        <h3 class="vegetable-name">eggplant</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/eggplant.png" alt="Eggplant"
            srcset="./img/vegetables/eggplant.png 1x, ./img/vegetables/eggplant2x.png" 2x>
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 20</li>
            <li class="list-nutrients">carbs: 5 grams</li>
            <li class="list-nutrients">fiber: 3 grams</li>
            <li class="list-nutrients">manganese: 10% of the RDI</li>
            <li class="list-nutrients">folate: 5% of the RDI</li>
            <li class="list-nutrients">potassium: 5% of the RDI</li>
            <li class="list-nutrients">vitamin K: 4% of the RDI</li>
            <li class="list-nutrients">vitamin C: 3% of the RDI</li>
          </ul>
        </div>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-name">leek</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/leek.png" alt="Leek"
            srcset="./img/vegetables/leek.png 1x, ./img/vegetables/leek2x.png 2x">
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 61</li>
            <li class="list-nutrients">omega-3: 0.10 g</li>
            <li class="list-nutrients">protein: 1.50 g</li>
            <li class="list-nutrients">fiber: 1.80 g</li>
            <li class="list-nutrients">sugars: 3.90</li>
            <li class="list-nutrients">monounsaturated: 0.01 g</li>
            <li class="list-nutrients">polyunsaturated: 0.17 g</li>
            <li class="list-nutrients">omega-6: 0.07 g</li>
          </ul>
        </div>
      <li class="vegetable-item">
        <h3 class="vegetable-name">mushrooms</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/mushrooms.png" alt="Mushrooms"
            srcset="./img/vegetables/mushrooms.png 1x, ./img/vegetables/mushrooms2x.png 2x">
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 15</li>
            <li class="list-nutrients">carbs: 2 grams</li>
            <li class="list-nutrients">fiber: 3 grams</li>
            <li class="list-nutrients">sugar: 1 gram</li>
            <li class="list-nutrients">protein: 2 grams</li>
            <li class="list-nutrients">selenium: 12% of the DV</li>
            <li class="list-nutrients">phosphorus: 5% of the DV</li>
            <li class="list-nutrients">vitamin B3, or niacin: 16% of the DV</li>
          </ul>
        </div>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-name">corn</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/corn.png" alt="Corn"
            srcset="./img/vegetables/corn.png 1x, ./img/vegetables/corn2x.png 2x">
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 77</li>
            <li class="list-nutrients">carbohydrates: 17.1 grams</li>
            <li class="list-nutrients">dietary fiber: 2.4 gramss</li>
            <li class="list-nutrients">sugars: 2.9 grams</li>
            <li class="list-nutrients">protein: 2.9 grams</li>
            <li class="list-nutrients">vitamins A, B, C</li>
            <li class="list-nutrients">potassium</li>
            <li class="list-nutrients">magnesium</li>
          </ul>
        </div>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-name">sweet potatoes</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/sweet_potatoes.png" alt="Sweet_potatoes"
            srcset="./img/vegetables/sweet_potatoes.png 1x, ./img/vegetables/sweet_potatoes2x.png 2x">
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 180</li>
            <li class="list-nutrients">carbs: 41 g</li>
            <li class="list-nutrients">protein: 4 g</li>
            <li class="list-nutrients">fat: 0.3 g</li>
            <li class="list-nutrients">fiber: 6.6 g</li>
            <li class="list-nutrients">vitamin C: 44% of the DV</li>
            <li class="list-nutrients">pantothenic acid: 35% of the DV</li>
            <li class="list-nutrients">potassium: 20% of the DV</li>
          </ul>

        </div>
      </li>
      <li class="vegetable-item">
        <h3 class="vegetable-name">carrot</h3>
        <p class="vegetable-price">60 UAH / kg</p>
        <div class="list-vegetable-img">
          <img class="vegetable-picture" src="./img/vegetables/sweet_potatoes.png" alt="carrot"
            srcset="./img/vegetables/carrot.png 1x, ./img/vegetables/carrot2x.png 2x">
          <ul class="description-text-vegetable-hidden">
            <li class="list-nutrients">calories: 94</li>
            <li class="list-nutrients">protein: 2 grams</li>
            <li class="list-nutrients">fat: less than 1 gram</li>
            <li class="list-nutrients">vitamin C: 22% of the DV</li>
            <li class="list-nutrients">vitamin K: 31% of the DV</li>
            <li class="list-nutrients">potassium: 15% of the DV</li>
            <li class="list-nutrients">sugars: 9 grams</li>
            <li class="list-nutrients">carbs: 22 grams</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>