.page-footer .footer-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-main-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
}

.footer-logo img {
  width: 168px;
  height: 16px;
}

.footer-text-main {
  margin-top: 14px;
  font-size: 14px;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nav-item-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:focus,
.nav-item-link:hover {
  opacity: 0.5;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-address-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-style: normal;
}

.footer-address-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  font-style: normal;
}

.footer-policy-container {
  display: flex;
  justify-content: space-between;
  height: 16px;
  margin-top: 80px;
}

.footer-policy-text {
  font-weight: 500px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  display: flex;
  gap: 8px;
}

/* ================================= min-width: 768px =============================== */

@media screen and (min-width: 768px) {
  .page-footer .footer-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer-main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 704px;
    gap: 224px;
  }

  .footer-logo img {
    width: 194px;
    height: 18px;
  }

  .footer-text-main {
    margin-top: 25px;
    font-size: 16px;
    max-width: 265px;
  }

  .footer-nav-container {
    gap: 64px;
  }

  .footer-nav-list {
    gap: 25px;
  }

  .footer-nav-list .nav-item-link {
    font-size: 32px;
    white-space: nowrap;
  }

  .footer-address {
    gap: 25px;
  }

  .footer-address-link {
    font-size: 18px;
    line-height: 1.1;
  }

  .footer-address-text {
    font-size: 18px;
    line-height: 1.1;
  }

  .footer-policy-container {
    height: 20px;
    margin-top: 100px;
  }

  .footer-policy-text {
    font-size: 18px;
    line-height: 1.1;
  }
}

/* =============================== min-width: 1280px ================================= */

@media screen and (min-width: 1280px) {
  .page-footer .footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-main-container {
    justify-content: center;
    flex-wrap: nowrap;
    max-width: 1080px;
    gap: 302px;
  }

  .footer-nav-container {
    flex-direction: row;
    gap: 121px;
    max-width: 513px;
  }

  .footer-policy-container {
    margin-top: 125px;
  }
}
