.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  background-color: transparent;
  position: absolute;
  width: 100%;
  z-index: 999;
  padding-top: 32px;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 4px;
}

.logo-icon {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-right: auto;
}

.mobile-menu-open {
  background-color: #576f35;
  border: none;
  margin-left: auto;
}

.mobile-btn {
  display: flex;
}

.header-menu {
  display: none;
}

.header-btn {
  display: none;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 188px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  background-color: #7a3145;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 32px;
  width: 32px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  background-color: #7a3145;
}

.mobile-menu-icon {
  width: 32px;
  height: 32px;
}

.mobile-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.mobile-menu-list {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px 16px;
  width: 115px;
  height: 42px;
  text-align: center;
}

.mobile-menu-list:hover,
.mobile-menu-list:focus {
  background-color: #fbfbfb;
  color: #7a3145;
}

.mobile-menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
.mobile-menu-button {
  display: flex;
  margin-top: 340px;
  align-items: center;
  justify-content: center;
}
.mobile-menu-btn {
  display: flex;
  border-radius: 30px;
  padding: 16px 41px;
  width: 155px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: #7a3145;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  color: rgba(122, 49, 69, 0.7);
  background-color: #fbfbfb;
}

.mobile-menu-btn:active,
.mobile-menu-btn:focus {
  color: #fbfbfb;
  background-color: #7a3145;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 30px;
}
/* <!-- tablet --> */

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .logo-icon {
    width: 18px;
    height: 18px;
  }
  .logo-text {
    width: 168px;
    height: 15px;
  }
  .mobile-menu-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-menu-close {
    width: 40px;
    height: 40px;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.4);
    border-radius: 4px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mobile-menu {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%) scale(1);
    width: 351px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .mobile-menu-open {
    display: none;
  }

  .header-list {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 999;
    padding-top: 32px;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 4px;
  }

  .logo-text {
    margin-right: 397px;
  }

  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .header-menu-list {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
    padding: 12px;
    height: 44px;
  }

  .header-menu-item {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
  }

  .header-btn {
    border-radius: 30px;
    padding: 16px 32px;
    width: 157px;
    height: 52px;
    background-color: #7a3145;
    border: none;
    cursor: pointer;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    display: block;
    text-align: center;
    margin-left: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-btn:hover,
  .header-btn:focus {
    color: #fbfbfb;
    background-color: #622133;
  }

  .header-btn:active,
  .header-btn:focus {
    color: #7a3145;
    background-color: #fbfbfb;
  }

  .mobile-menu {
    display: none;
  }

  .backdrop {
    display: none;
  }
}
