.header-container {
  display: flex;
  align-items: center;

  /* justify-content: space-between; */
  /* height: 52px; */
  height: 32px;
}

.header-list {
  background-color: #576f35;
  /* background-color: transparent; */

  /* position: absolute;
  width: 100%;
  z-index: 999; */
  padding-top: 32px;
}
.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 4px;
  /* background-color: #576f35; */
}

.logo-icon {
  display: flex;
  align-items: center;
}
.logo-text {
  margin-right: auto;
  /* margin-right: 397px; */
}
.mobile-menu-icon {
}
.mobile-menu-open {
  background-color: #576f35;
  border: none;
  margin-left: auto;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 240px 130px;
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  background-color: #7A3145;
}

.mobile-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon {
  background-color: transparent;
}

.header-menu {
  display: none;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px; */
}
/* .header-menu-list {
  border: 1px solid rgba(251, 251, 251, 0.4);
  border-radius: 12px;
  padding: 12px;
  height: 44px;
}
.header-menu-item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--main-text);
} */

.header-btn {
  display: none;
  /* border-radius: 30px;
  padding: 16px 32px;
  width: 157px;
  height: 52px;
  background: var(--background-2);
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  color: var(--main-text);
  display: block;
  text-align: center;
  margin-left: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .hero { 
  position: relative;
  display: flex;
  height: 100vh;
  background-color: #576f35;
}
.hero-container {
  display: flex;
  flex-direction: row;
  gap: 28px;
  padding-top: 0;
  padding-right: 0;
}

.hero-right-img {
  width: 650px;
  height: 800px;
}

.hero-left {
  margin-top: 238px;
  background-color: #576f35;
  
}

.hero-left-list {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 76px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);
  margin-bottom: 128px;
}

.hero-left-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: var(--main-text);
} */
/* 
.hero-right-img{
    max-width: 100%;
            height: auto; */

/* @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
} */
