/* container */
.hero {
  background-color: #576F35;
  padding-top: 100px;
        display: flex;
      position: relative;
      padding: 0;
}
/* text-hero */
.hero-left{
  margin: 20px;
  margin-top: 100px;
}
.h-hero {
margin-bottom: 20px; 
}
.paragraph-hero{
  margin-bottom: 40px;
}

.hero-img{
  max-width: 375px;
}
.hero .container {
  padding: 0;
}
.img-container{
  background:linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%) ,url(../img/hero/mob_fruits.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:370px;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.img-container{
background:linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%) ,url(../img/hero/mob_fruits2x.jpg);
background-size: cover;
} 
}

@media screen and (min-width: 768px){
  .h-hero {
  margin-bottom: 25px;
  margin-top: 50px;
  }
  .hero{
  padding-top: 122px;
        display: flex;
      position: relative;
      padding: 0; 
  }
    .hero-left{
    margin: 32px;
    margin-top: 122px;
  }
    .paragraph-hero{
  margin-bottom: 50px;
  width: 603px;
  }
    .hero-img{
    max-width: 768px;
  }
    .hero .container{
    padding: 0;
  }
  .img-container{
  background:linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%), url(../img/hero/tab_fruits.jpg);
  height:539px;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.img-container{
background: linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%), url(../img/hero/tab_fruits2x.jpg);
background-size: cover;
} 
}
}
@media screen and (min-width: 1280px) {
  .container{
  padding-right: 0;
  }
    .hero-left{
    margin: 238px 0 0 0;
    width: 502px;
  }
    .h-hero{
  margin-bottom: 128px;
  margin-top: 0;
  }
    .paragraph-hero{
  font-weight: 500;
  font-size: 16px;
  color: #fbfbfb;
  width: 472px;
  line-height: 1.25em;
  margin-bottom: 0;
  }
    .hero .container{
    padding: 0;
    padding-left: 100px;
  }
  .hero-container {
display: flex;
flex-direction: row;
gap: 28px;
padding-top: 0;
padding-right: 0;
}
.img-container{
  background:linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%), url(../img/hero/fruits.jpg);
  height: 800px;
      width: 650px;
}
@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.img-container{
background:linear-gradient(0deg, rgba(20, 20, 20, 0.30) 0%, rgba(20, 20, 20, 0.30)100%) ,url(../img/hero/fruits2x.jpg);
background-size: cover;
} 
}
}