@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./how_it_works.css');
@import url('./discount.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./your_order.css');
@import url('./footer.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  max-width: 100%;
  font-family: 'Inter Tight', sans-serif;
  color: #FBFBFB;
  font-weight: 500;
  line-height: 1.29;
  margin: 0;
  background-color: #7A3145;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.01em;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ================================= min-width: 768px =============================== */

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.25;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  h1 {
    font-size: 76px;
  }

  h2 {
    font-size: 64px;
    line-height: 1;
  }

  h3 {
    font-size: 32px;
  }
}

/* =============================== min-width: 1280px ================================= */

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
}


/*==================HIDDEN=================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}