.vegetables {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
background-color: #7a3145;
padding: 100px 20px;
max-width: 1280px;
height: 1229px;
}

.container {
    
}
.vegetable-title {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
font: 600 64px / 1 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}

.title-part {
font: 600 64px / 1 "Inter Tight", sans-serif;
color: rgba(251, 251, 251, 0.3);
text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
row-gap: 25px;
}

.vegetable-description {
font: 500 16px / 1.25 "Inter Tight", sans-serif;
color: #fbfbfb;
width: 626px;
margin-top: 25px;
margin-bottom: 50px;
}

.vegetable-cards-list {
display: flex;
flex-wrap: wrap;
gap: 12px;
}

.vegetable-item {
border-radius: 40px;
padding: 32px;
background: #fbfbfb;
width: calc((100% - 2*21px) / 3);
}

.vegetable-name {
font: 600 32px / 1 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
color: #7a3145;
margin-bottom: 12px;
}

.vegetable-price {
font: 600 14px / 1.28571 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
}

