.vegetables {
background-color: #7a3145;
padding-top: 80px;
padding-bottom: 80px;
}


@media screen and (min-width: 768px) {
.vegetables {
padding-top: 100px;
padding-bottom: 100px;
}
}

@media screen and (min-width: 1280px) {
.vegetables {
padding-top: 100px;
padding-bottom: 100px;
}
}

.vegetable-title {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
font: 600 48px / 1.04167 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
}


@media screen and (min-width: 768px) {
.vegetable-title {
font: 600 64px / 1 "Inter Tight", sans-serif;
}
}


.title-part {
font: 600 48px / 1.04167 "Inter Tight", sans-serif;
color: rgba(251, 251, 251, 0.3);
margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
.title-part {
margin-bottom: 50px;
}
}

@media screen and (min-width: 1280px) {
.title-part {
margin-bottom: 25px;
}
}

.vegetable-description {
font-size: 14px;
font-weight: 500;
line-height: 1.28em;
margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
.vegetable-description {
font-size: 16px;
font-weight: 500;
line-height: 1.25em;
margin-bottom: 50px;
}
}

.vegetable-cards-list {
display: flex;
flex-direction: column;
gap: 20px;
}

@media screen and (min-width: 768px) {
.vegetable-cards-list {
flex-wrap: wrap;
flex-direction: row;
gap: 20px;
row-gap: 28px;
}
}

@media screen and (min-width: 1280px) {
.vegetable-cards-list {
gap: 21px;
row-gap: 28px;
    }
}

.vegetable-item {
border-radius: 40px;
padding: 32px 26px;
max-width: 334px;
gap: 20px;
background: #fbfbfb;
}

@media screen and (min-width: 768px) {
.vegetable-item {
padding: 32px 30px;
width: calc((100% - 1*20px) / 2);
}
}

@media screen and (min-width: 1280px) {
.vegetable-item {
padding: 32px;
width: calc((100% - 2*21px) / 3);
}
}

.vegetable-name {
font: 600 28px / 1 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
color: #7a3145;
margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
.vegetable-name {
font: 600 32px / 1 "Inter Tight", sans-serif;
}
}


.vegetable-price {
font: 600 14px / 1.28571 "Inter Tight", sans-serif;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #141414;
}


.vegetable-picture {
margin-top: 14px;
width: 282px;
height: 243px;
}

@media screen and (min-width: 768px) {
.vegetable-picture {
margin-top: 10px;
}
}

@media screen and (min-width: 1280px) {
.vegetable-picture {
margin-top: 10px;
}
}