.your-order {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #7A3145;
}

.your-title {
   text-align: left;
   margin-bottom: 29px;
}

.your-title-span {
    color: rgba(251, 251, 251, 0.3);
}

.your-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    color: #FBFBFB;
    margin-bottom: 40px;
}

.order {
    max-width: 335px;
    background-color: #FBFBFB;
}

.order-text {
    color: #141414;
}